@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<div class="faqs-container">
	<div class="faq active">
		<h3 class="faq-title" style="color:black">
			What is eMovietickets and how does it work?
		</h3>
		<p class="faq-text" style="color:black">
			eMovietickets is a complete commerce platform that lets you book your favourite movie tickets from your comfort zone.
			It works simply by signing up your account and select the movies you want to book and Add to cart to complete the order.
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="faq">
		<h3 class="faq-title" style="color:black">
			What happens when I book an order?
		</h3>
		<p class="faq-text" style="color:black">
			Depending on your preferences, you’ll receive an email, mobile app notification, or RSS notification every time your book an order.
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="faq">
		<h3 class="faq-title" style="color:black">
			What currencies does eMovietickets supports?
		</h3>
		<p class="faq-text" style="color:black">
			You can accept payments in many currencies, depending on what payment provider (also known as third party payment processors or payment gateways) you use.
		</p>
		<button class="faq-toggle" style="color:black">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="faq">
		<h3 class="faq-title" style="color:black">
			What is a merchant account?
		</h3>
		<p class="faq-text" style="color:black">
			A merchant account is an account where your money is deposited after your customers’ payments have been authorized and processed.
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>


</div>

<div class="floating-text">
	Ask Me <a href="https://wa.me/919123163568" target="_blank">Anything</a>
</div>